

/* login */
form {
    display: flex;
    flex-direction: column; /* Apila los grupos de campos verticalmente */
    max-width: 500px;
    margin: 20px auto; /* Centra el formulario en la página */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column; /* Apila etiquetas y entradas dentro del grupo */
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, 
input[type="number"], 
input[type="email"], 
input[type="password"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

/* Estilo específico para Nombre y Apellidos para que estén en la misma línea */
.form-group:first-child {
    flex-direction: row;
    justify-content: space-around;
}

.form-group:first-child input,
.form-group:first-child label {
    width: 48%; /* Ajusta el ancho para que quepan en la misma línea */
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}


