

/* login */
form {
    display: flex;
    flex-direction: column; /* Apila los grupos de campos verticalmente */
    max-width: 500px;
    margin: 20px auto; /* Centra el formulario en la página */
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #307acf;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, 
input[type="number"], 
input[type="email"], 
input[type="password"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #black;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}
button {
    padding: 10px 15px;
    background-color: #307acf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.form-login-container {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* Ocupa toda la altura de la ventana */
    width: 100%; /* Ocupa toda la anchura de la ventana */
}

/* Estilos para la página de empleos */
.container {
    display: grid;
    grid-template-columns: 250px 1fr; /* Lateral fijo, resto flexible */
    grid-template-rows: 80px 1fr 60px; /* Altura de header, contenido y footer */
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
}

.header  { grid-area: header; display: flex; align-items: center; border-bottom: 2px solid black; }
.sidebar { grid-area: sidebar; border-right: 2px solid black; padding: 20px; }
.main    { grid-area: main; padding: 40px; background-color: #f9f9f9; }
.footer  { grid-area: footer; border-top: 2px solid black; display: flex; align-items: center; justify-content: center; }
/* Estilos internos del Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.logo, .login { border: 1px solid black; padding: 10px; }
/* Estilo de la "Publicación de trabajo" (Card) */
.card {
    border: 3px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}
.btn-contact {
    border: 2px solid black;
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
}
