<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Empleos</title>
    <link rel="stylesheet" href="../style/pristyles.css">
</head>
<body>

    <div class="container">
        <header class="header">
            <img src="logo.png" alt="logo" class="logo">
            <nav class="nav-title">brillilink</nav>
            <div class="login">
                <a href="login.html">Login</a>
            </div> </header>

        <aside class="sidebar">
            <h3>search filters</h3>
            <ul>
                <li>Categoría</li>
                <li>Ubicación</li>
                <li>Salario</li>
            </ul>
        </aside>

        <div class="card">
            <span>Publicación de trabajo</span>
            <!-- Cambiamos el <button> por un <a> con estilo de botón -->
            <a href="chat.html" class="btn-contact" style="text-decoration: none; display: inline-block;">Contactar</a>
        </div>

<footer class="footer">
    <div class="footer-info">
        <p><strong>Nuestra Oficina</strong></p>
        <p>Florida, España</p>
    </div>
    
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3082.954191859724!2d-0.417597815673236!3d39.40254239844637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604e82a8672a35%3A0xed578f5f80fed685!2sFlorida%20Universit%C3%A0ria!5e0!3m2!1ses!2ses!4v1776841605472!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>
    </div>
</body>
</html>