<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Control - brillink</title>
    <link rel="stylesheet" href="../../style/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="../../logo.png" alt="logo" class="logo">
            <nav class="nav-title">brillink</nav>
            <div class="auth-container">
                <span style="color: #ffffff; font-weight: bold; margin-right: 10px;">¡Hola, Belen!</span>
                <div class="login"><a href="principal_ing.html">Cerrar Sesión</a></div>
            </div>
        </header>

        <aside class="sidebar">
            <h3>Mi Actividad</h3>
            <ul>
                <li onclick="window.location.href='perfil.html'">Mi Perfil</li>
                <li>Mis Anuncios</li>
                <li onclick="window.open('https://www.google.com/maps/place/Florida+Universit%C3%A0ria/@39.4025424,-0.4175978,17z/')">
                    Ver mapa de zona
                </li>
                <li onclick="window.location.href='../chats/chat.html'">Mis Mensajes</li>
            </ul>
        </aside>

        <main class="main">
            <div class="card">
                <span>Asistente de Limpieza y Organización</span>
                <a href="../chats/chat.html" class="btn-contact">Contactar ahora</a>
            </div>

            <div class="card">
                <span>Cuidado de niños (Tardes)</span>
                <a href="../chats/chat1.html" class="btn-contact">Contactar ahora</a>
            </div>

            <div class="card">
                <span>Compra y Recados a domicilio</span>
                <a href="../chats/chat2.html" class="btn-contact">Contactar ahora</a>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-info">
                <p><strong>Nuestra Oficina</strong></p>
                <p>Florida, España</p>
            </div>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3082.954191859724!2d-0.417597815673236!3d39.40254239844637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604e82a8672a35%3A0xed578f5f80fed685!2sFlorida%20Universit%C3%A0ria!5e0!3m2!1ses!2ses!4v1776841605472!5m2!1ses!2ses" width="320" height="80" style="border:0;" loading="lazy"></iframe>
            </div>
        </footer>
    </div>
</body>
</html>