<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Chat Niños - brillink</title>
    <link rel="stylesheet" href="../../style/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="../../logo.png" alt="logo" class="logo">
            <nav class="nav-title">brilink</nav>
            <div class="auth-container">
                <div class="login"><a href="../main/principal_log.html">Mi Panel</a></div>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Mensajes</h3>
            <ul>
                <li onclick="window.location.href='chat.html'">Ana (Limpieza)</li>
                <li style="background: rgba(255,255,255,0.2)">Familia García</li>
                <li onclick="window.location.href='chat2.html'">Sr. Pedro</li>
                <li onclick="window.location.href='../main/principal_log.html'" style="margin-top: 20px;">⬅ Volver</li>
            </ul>
        </aside>
        <main class="main">
            <div class="chat-window">
                <div class="chat-header">Conversación: Cuidado de niños</div>
                <div class="chat-messages">
                    <div class="message received">¿Tienes experiencia con niños de 3 a 5 años?</div>
                    <div class="message sent">Sí, he trabajado en ludotecas y cuidando a mis sobrinos.</div>
                    <div class="message received">Genial, buscamos a alguien con mucha energía.</div>
                </div>
                <div class="chat-input-area">
                    <input type="text" placeholder="Escribe a Familia García...">
                    <button class="btn-contact">Enviar</button>
                </div>
            </div>
        </main>
<footer class="footer">
    <ul>
            <li> <a href="https://Instagram.com"><img src="../../ig.png" alt="Ig" width="20" height="20">Instagram</a></li>
            <li> <a href="https://Facebook.com"><img src="../../fb.png" alt="Fb" width="20" height="20">Facebook</a></li>
            <li> <a href="https://Twitter.com"><img src="../../tw.png" alt="Tw" width="20" height="20">Twitter</a></li>
        </ul><br>
        
    <div class="footer-info">
        <p><strong>Nuestra Oficina</strong></p>
        <p>Florida, Estados Unidos</p>
    </div>
    
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3082.954191859724!2d-0.417597815673236!3d39.40254239844637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604e82a8672a35%3A0xed578f5f80fed685!2sFlorida%20Universit%C3%A0ria!5e0!3m2!1ses!2ses!4v1776841605472!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <ul>
            <li>© Brillink 2026</li>
    </ul>
</footer>
    </div>
</body>
</html>